[2015-02-21 21:57] jdscolam opened #13 "Android Compatibilty"
Hi,

I am trying to use the documentdb library from android, and it doesn't seem to be compatible.  I've spent the past few hours googling the issue (which seems to be the version of Apache's httpclient used), however I am at a loss on how to get the right version of the dependencies.

As an FYI I am using the latest version of android studio, targeting the latest version of android.

Do you have

[2015-02-21 22:35] aliuy commented on #13
The DocumentDB Java Client doesn't officially support Android just *yet*.

That being said - I have heard from some other users that they were able to get it working. If I remember correctly, the steps are to pull down the DocumentDB Java Client source code and make the following edits:

* Comment out the PoolingClientConnectionManager in GatewayProxy.java
* Base64.encodeBase64String in Helper.jav

[2015-02-22 05:38] jdscolam commented on #13
Thanks for the response!  I might give that a try here later.  In the meantime I used Retrofit and the REST API to get it working.  That was nine hours worth of pain, but the working result is here:  http://stackoverflow.com/questions/28654821/connect-to-azure-documentdb-from-android

It isn't perfect, but it works for now.  I think I'd prefer to use the "official" client in the future as it would

[2015-05-05 12:22] wjobin opened #16 "JsonSerializable "c must be a member (not an anonymous or local) and static class.""
IMO, forcing inner class for POJO mapping is wrong. Should be "inner class must be static".

I changed the condition on JsonSerializable.java:437 to `c.isMemberClass() && !Modifier.isStatic(c.getModifiers())` on my side and it works as expected.

I'd suggest changing all the alike conditions in the JsonSerializable.java.

William

[2015-05-05 18:28] ryancrawcour commented on #16
Thanks for raising this, We will investigate. Alternatively, we would be more than happy to accept a PR from you to address this issue.

[2015-05-07 23:35] shipunyc commented on #16
Thanks. I fixed this bug with a commit just now. The next release will include this fix.

[2015-05-07 23:35] #16 closed

[2015-05-08 13:32] jackeywall opened #18 "UTF-8 and new Documents via Client API"
I'm using the Java client API 1.0 in my project to input/post documents to DocumentDb. Many of the DocumentDb JSON documents include text in languages with diacritic marks.

The POJO to JSON conversion is performed via FasterXML Jackson - code has been in production for some time (18 months) with JSON being written to Mongo, ElasticSearch, and Postgres (JSON and now JSONB). The UTF-8 encoding of t

[2015-05-12 20:07] shipunyc commented on #18
Fixed. I will push a new release today.

[2015-05-12 20:07] #18 closed

[2015-05-29 13:35] herc6 opened #23 "question about documentclient"
Hallo,

is DocumentClient Class threadsafe ?

[2015-05-29 23:18] ryancrawcour commented on #23
Yes, it should be. If you find it is not, please report the issue here or on the MSDN forums and we will address.

[2015-05-29 23:18] #23 closed

[2015-06-02 11:21] boly38 opened #24 "Update using PoJo setters result in a "NullPointerException""
Hi
the todo tutorial show an "updateTodo" sample with the following comment:

    // You can update the document as a JSON document directly.
    // For more complex operations - you could de-serialize the document in
    // to a POJO, update the POJO, and then re-serialize the POJO back in to
    // a document.

I want to update my pojo using the java object (not the documentdb "Document" setters

[2015-06-02 18:34] aliuy commented on #24
Thank you; I believe you are right that this is a bug. The _self property can get lost when deserializing to a POJO (because there isn't an object attribute to hold the value).

For an interim solution - you can add a _self property to your POJO.

For a longer term solution - I will investigate adding document system properties (e.g. _self) in to a common class (e.g. com.microsoft.azure.documentdb

[2015-06-11 11:48] boly38 commented on #24
@aliuy Hi,
Just to confirm that using your workaround, you could use PoJo setters

If My PoJo `User` embed a **`_self`** String attribute, then the following `update()` method will work:

    @Override
    public User update(User u) {
        Document usrDoc = getDocumentById(u.getId());
        LOG.debug("ORIGINAL SELF:{}", usrDoc.getSelfLink());
        if (usrDoc == null) {
            return n

[2015-06-23 01:39] normalian opened #29 "tutorial pom.xml isn't enough for building apps?"
I cloned tutorial apps from github and run "mvn eclipse:eclipse" using https://github.com/Azure/azure-documentdb-java/blob/master/tutorial/todo/pom.xml. But i got "The import javax.servlet cannot be resolved" error.

I guess the pom.xml needs "servlet-api" for building apps, is this right?

[2015-06-24 02:10] aliuy commented on #29
`javax.servlet` comes installed with the Java EE (Enterprise Edition) SDK, which can be downloaded [here](http://www.oracle.com/technetwork/java/javaee/downloads/index.html)

[2015-06-24 02:11] aliuy commented on #29
I haven't tried the `servlet-api` maven artifact, but perhaps that works too.

If you go down this route, mind posting back here with your results?

[2015-06-24 02:14] normalian commented on #29
I have already tried to non 'servlet-api' pom.xml, but it didn't work. And sorry aliuy, I have already merged servlet-api to pom.xml in pull request #30.
https://github.com/Azure/azure-documentdb-java/blob/master/tutorial/todo/pom.xml

If it will cause some troubles, please remove it.

[2015-07-30 12:30] wjobin opened #33 "New release"
Hey,

Could you make a new release? I'd like to switch back to official release before going in prod, but I need the fixes I made in June.

Thanks

[2015-07-30 17:27] ryancrawcour commented on #33
Sure, we have a release planned for later in the week

[2015-07-30 17:46] wjobin commented on #33
Excellent thanks

[2015-07-30 17:46] #33 closed

[2015-07-30 17:50] ryancrawcour commented on #33
just checked, the release will be next week. if you're able to wait until then all good, else I can push a new version out with just these fixes.

[2015-07-30 18:05] wjobin commented on #33
Next week is fine.

[2015-08-06 18:41] #29 closed

[2015-08-12 08:24] mwalterXML opened #36 "JsonSerializable don't support set("foo", new JSONArray())"
Good Morning

In line https://github.com/Azure/azure-documentdb-java/blob/master/src/com/microsoft/azure/documentdb/JsonSerializable.java#L149

is necessary add "|| value instanceof JSONArray"

Best regards,

[2016-04-20 12:13] boly38 opened #44 "SSLHandshakeException ValidatorException: PKIX path building failed"
Hi
Since few days in some tests executions I encounter SSL validation errror while querying documentdb.
   (cf detailled stack trace into attached file)
[SSLHandshakeExceptionValidatorExceptionPKIX.stack.txt](https://github.com/Azure/azure-documentdb-java/files/227883/SSLHandshakeExceptionValidatorExceptionPKIX.stack.txt)

    java.lang.IllegalStateException: Exception not retriable
    Caused by:

[2016-04-20 17:24] shellygms commented on #44
Hi, there was no change in the networking layer for version 1.6.0, so to help with diagnostic, could you try reverting back to 1.5.1 and see if you can repro this problem?

Thanks.

[2016-04-20 19:09] shellygms commented on #44
Hi, one reason you could encounter this error is when the root CA is missing on your system.  A few things you can do to help diagnose the problem.
1. Go to Chrome and browse to your documentdb root url using https.  Check if you encounter a certificate error or warning.  There should be a green lock before your url if everything is working correct.  Click on the lock should show you the certifica

[2016-04-25 11:51] boly38 commented on #44
(FYI / I'm currently discussing with Azure Support team so I will update this thread as soon as I found the fix)

[2016-05-01 21:55] rnagpal commented on #44
This issue has been fixed in Java SDK release 1.7.1.

[2016-05-01 21:55] #44 closed

[2016-06-07 16:52] mparker opened #49 "DocumentClient.upsertStoredProcedure(): "One of the specified inputs is invalid" (1.7.1)"
I'm calling DocumentClient.upsertStoredProcedure() like this:

`           String s = ...; // body of stored procedure, copied from the azure console script explorer
            StoredProcedure sp = new StoredProcedure();
            sp.setBody(s);
            getDocumentClient().upsertStoredProcedure(c.getSelfLink(), sp, null);
 `

Since the javadocs for StoredProcedure and DocumentClient don't s

[2016-06-07 17:25] shellygms commented on #49
Hi, the following is a code snippet for upsertStoredProcedure()

        StoredProcedure storedProcedureDefinition = new StoredProcedure();
        storedProcedureDefinition.setId("proc1");
        storedProcedureDefinition.setBody("function() {var x = 10;}");

        StoredProcedure createdStoredProcedure = documentClient.upsertStoredProcedure(
                collectionLink,
                sto

[2016-06-07 17:40] mparker commented on #49
Thanks Shelly, that helped. I didn't notice that setId() was inherited from Resource, or that it was required.

[2016-06-07 17:40] #49 closed

[2016-08-14 23:43] kozyr opened #56 "Option to remove _rid and other underscore variables from Document.toString"
If I want to query the objects that I stored into DocumentDB, and simply return the JSON back, bunch of internal properties would get returned if I simply return Document.toString for each returned document. Would be nice to have an option to not include them into String serialization.

[2016-10-10 06:22] mingaliu commented on #56
Thanks kozyr, we will take your feedback into the consideration in next release.

[2016-10-11 08:56] jonathanlinadv opened #61 "bulk insert and bulk delete for azure documentdb"
Can anyone give some samples for bulk insert and bulk delete in JAVA?

[2016-10-20 16:35] Blackbaud-MitchellThomas opened #62 "1.8.1 Version Updated In Maven Central After Initial Release (Contains a Bug)"
We discovered through failing tests that the 1.8.1 artifact was updated in Maven Central without an appropriate version increment. We discovered this this through a bug in `queryDatabases` that also exists in 1.9.0, which my team will file as a separate issue. We didn't discover the issue until we built in an environment that didn't have the original 1.8.1 version cached.

As near as we can tell,

[2016-10-20 18:34] khdang commented on #62
Thanks for letting us know @Blackbaud-MitchellThomas. We're looking into restoring the original 1.8.1 version on Maven repository. For the issue with queryDatabases, please file a bug and we will fix it in the next release.

[2016-10-20 19:09] Blackbaud-MitchellThomas commented on #62
Sounds good. Thanks. I also discovered that the Sept. 23rd version will block my triggers after a few runs on my test suite for violating resource limits. 1.9.0 appears to have that bug fixed, though.

[2016-10-20 19:38] Blackbaud-MitchellThomas opened #63 "DocumentClient queryDatabases Ignores the Query"
No matter what query you provide to the `queryDatabases` function, it returns all databases.

I believe it is related to this line:

https://github.com/Azure/azure-documentdb-java/blob/879912d323777aac57b675039159f3ab8f8efb85/src/com/microsoft/azure/documentdb/DocumentClient.java#L437

The constructor that it calls doesn't take in a `SqlQuerySpec`, so `querySpec` is just dropped on the floor.

I w

[2016-10-20 21:35] kiratp commented on #61
https://github.com/Azure/azure-documentdb-dotnet/tree/master/samples/clientside-transactions/DocDBClientBulk/DocDBClientBulk

The server side code (JS files) will be the same - you would just call it with the Java client.

Also, you can use TTL to bulk delete without incurring any RU charges: https://azure.microsoft.com/en-us/documentation/articles/documentdb-time-to-live/

[2016-10-21 01:37] jonathanlinadv commented on #61
Thanks for your help. That's very good.
I have more questions.
How to call it (the server side code (JS files)) with JAVA client?
How to transfer the parameters into it (the server side code (JS files)) in back-end JAVA?
May you provide some samples?

[2016-10-21 07:26] khdang commented on #63
@Blackbaud-MitchellThomas Thanks for the details. We're aware of this issue and will have it fixed in the coming release.

[2016-10-21 07:28] khdang commented on #62
@Blackbaud-MitchellThomas We've restored 1.8.1 to the version on June 30th. Let us know if you're still having the bug.

[2016-10-21 14:06] Blackbaud-MitchellThomas commented on #62
The 1.8.1 version I pulled from Maven no longer contains the bug.

[2016-10-21 14:07] Blackbaud-MitchellThomas commented on #63
Thanks, @khdang.

[2016-10-24 12:43] Blackbaud-IanThomas commented on #63
Do you have an estimate of when the next release will be available?  Will it be a 1.9.1 release coming quickly?

[2016-10-27 23:07] #62 closed

[2016-11-03 00:50] khdang commented on #63
@Blackbaud-IanThomas We're actively working on the Java SDK to improve the experience to use Azure DocumentDB service. We will release new version when they are ready. If you have any issues or requests please let us know we will get to it as soon as we can.

[2016-11-03 00:50] #63 closed

[2016-11-21 19:23] kiratp commented on #61
https://docs.microsoft.com/en-us/azure/documentdb/documentdb-programming#a-idudfauser-defined-functions

[2016-11-22 01:08] jonathanlinadv commented on #61
Thank you. But, it is not the JAVA codes.
I will try it.

[2016-12-08 12:21] AdallomRoy opened #67 "new Document(JSONObject) constructor - yields empty results"
When running
new Document(JSONObject) -> the document received is empty.
Running new Document(JSONObject.toString()) - works fine.
The root issue is that for some reason new JSONObject(JSONObject) returns an empty JSONObject (and that's what happens in JSONSerializable's constructor:

``
protected JsonSerializable(JSONObject jsonObject) {
        this.propertyBag = new JSONObject(jsonObject);
}
``

[2016-12-08 18:39] anoopprk commented on #61
For an array of com.microsoft.azure.documentdb.Document objects, you can create an Array<String> by calling toString on each object. This array of Strings can be passed as a parameter to the stored procedure like so:
response = client.executeStoredProcedure(sproc.getSelfLink(), new Object[] { jsonArrayString, upsert })
.getResponseAsString();

This worked fine for me in java. You can refer to the

[2017-02-21 04:25] itszakko opened #68 "Can't use id-based urls with TOP and Partitioned Collection"
Hello Everyone,
I am trying to use the [newer style id-based resource links](https://azure.microsoft.com/en-us/blog/azure-documentdb-bids-fond-farewell-to-self-links/) with TOP in the query and a partitioned collection.

Here's the line that fails:
[code]

If the string in queryDocuments is a selfLink uri or the collection is *not* partitioned, the above code works fine.

Here's the full exception

[2017-02-21 18:06] moderakh commented on #68
@ubercow thanks for reporting this.

Could you please let us know which version of azure documentdb jar you are using?

[2017-02-21 18:46] ubercow commented on #68
Yes I am currently using 1.9.5 off of Maven, though the issue also seems to affect 1.9.4

[2017-02-21 19:39] moderakh commented on #68
@ubercow I am trying to reproduce the problem locally, but it just works for me!

Could you please share your code in a small java prog?

Also does this fail for you all the time? or does it fail randomly?

[2017-02-21 20:38] ubercow commented on #68
@moderakh
Here you go:
https://gist.github.com/ubercow/20925ac8d745cb0184ef8773b4e9e55a

The important part here is the settings on the collection itself.
![image](https://cloud.githubusercontent.com/assets/68832/23183938/9cf53dea-f832-11e6-9dd5-376ae384a5d9.png)

Notably, that it's sharded.

[2017-02-22 00:27] moderakh commented on #68
@ubercow thanks for the code.

I tested your code against a partition collection and just worked for me!

I couldn't reproduce the problem. A few questions for you:

1. What happens if you create a new partitioned collection and test against that new collection?
2. This sounds trivial but could it be that you are copying and pasting the collection name or database name and some unwanted characters

[2017-02-22 02:07] ubercow commented on #68
A new instance works for me as well with the same code. I'm beginning to think this is not an issue with the library, but an issue with my specific DocumentDb instance itself.

When I tried a new instance, it worked. However any collection I create on this current failing instance seems to fail with the same exception. It's not a copypaste issue, because when I remove the `TOP 10` part from the qu

[2017-02-22 18:20] moderakh commented on #68
@ubercow this definitely has to work for all instances. Someone from our backend team will be in contact with you soon to troubleshoot the problem in your specific DocumentDB instance.

[2017-02-23 00:38] moderakh commented on #68
@ubercow could you please try to reproduce this on your side and give us the activityId for the failure?

[2017-02-23 09:43] ubercow commented on #68
I extended my sample code (super hacky!) to dump headers

[code]

and here's the code I used to dump it.
https://gist.github.com/ubercow/20925ac8d745cb0184ef8773b4e9e55a#file-reproduction_headers-java

[2017-02-26 06:25] rnagpal commented on #61
@jonathanlinadv Let us know if you still need help with the sample, otherwise I'll close this issue.

[2017-02-26 06:32] rnagpal commented on #13
@jdscolam Let us know if you still need this feature, otherwise I'll close his issue as this has been open since 2 years now.

[2017-02-26 19:09] al3xandru opened #69 "Where is the latest code? Public artifacts are version 1.9.x, but repo is still 1.8.x"
Hi,

I wanted to submit a very minor PR against 1.9.6 version which seems to be the latest available in Maven central, but it looks like the repo here is still at 1.8.x.

_2 seconds later update: for whatever reasons I haven't noticed the disclaimer in the readme._

[2017-02-27 21:14] gondooley commented on #13
Close away. Not concerned any more.
Thank,
Reg.

On Sun, Feb 26, 2017 at 6:32 AM, Rajesh Nagpal <notifications@github.com>
wrote:

[2017-02-28 05:29] #13 closed

[2017-02-28 16:12] jdscolam commented on #13
Is there an Android client for the SDK now?

[2017-03-23 21:27] pradyuman opened #70 "ConnectionMode.Direct"
There doesn't seem to be an option to set ConnectionMode.Direct only DirectHttps. Is there a plan to allow Direct connections over TCP using the java sdk?

[2017-03-27 21:56] dennyglee commented on #70
Up to this point, the performance via DirectHttps has been pretty reasonable; though we are at the early plans to provide ConnectionMode.Direct via TCP.

[2017-03-31 16:29] asos-srinija opened #72 "Incompatible Jackson version: 2.8.3"
Hi ,
I am using your recent version and I am facing version incompatibility issue during runtime.
below is the list of my included dependencies.
Can you look into this and help me to sort this out.
scalaVersion := "2.11.8"
val sparkVersion = "2.1.0"
libraryDependencies += "com.eed3si9n" % "sbt-assembly_2.8.1" % "sbt0.10.1_0.6"
libraryDependencies += "org.apache.spark" % "spark-core_2.11" % sparkVe

[2017-03-31 16:29] #72 closed

[2017-05-16 06:58] SychevIgor opened #74 "it's time to rename the repo to azure-cosmosdb-java"
Because we had renamed documentDB to cosmosDB - it will be right if we will update the repo name as well.

[2017-05-31 11:47] adoelger opened #75 "No source code in maven packages"
Since version 1.9.4 there is no source code in the according maven src package!

[2017-06-07 14:27] apatrida commented on #69
This is still a problem not having current source for the release.

[2017-06-14 01:27] ZhijunZhao commented on #69
Yes. This wasted me a lot of time. The source code here is not consistent with the latest public artifacts...

[2017-06-20 12:19] thebhushanp opened #76 "How to use with proxy username and password ?"
Hii,
 I am working behind the proxy network.
I tried arguments like following but it is not working.
[code]
Following allows me add host and port of proxy, but I required to username and password as well.
`connectionPolicy.setProxy(new HttpHost(InetAddress.getByName("proxy.company.com"), 12345));`

I also tried following for authentication
[code]
How can I use username and password for authenticat

[2017-07-07 12:40] AnaCampoVe opened #77 "InterruptedException when reading Databases"
Hi team!!!

We are integrating DocumentDb in our java project. For that purpose, we have created a static class that performs the operations through the DocumentClient. Sometimes, when we try to read the Databases in our init method, we get a chained exception -> IllegalStateException-DocumentClientException-InterruptedException.

This is our piece of code:

[code]

Do you know which could be the

[2017-07-20 05:04] dluc opened #78 "upsertDocument not working"
I'm trying to figure out if the `upsertDocument` method works. So far I've been unable to get the code below to work.

I need to set the document Id, so I'm using `disableAutomaticIdGeneration = true` (if I change it to `false` the first code snippet below works, but that's not my scenario)

Using version: 1.12.0

Fails with "StatusCode: BadRequest - One of the specified inputs is invalid":

[code

[2017-07-26 20:06] ppathan opened #79 "FromObject in Document.java is not marked public"
The static helper needs to be marked public so the caller can use the method.

[2017-08-09 23:40] khdang commented on #69
As noted in the Disclaimer in the README section, the current code in this repo is a reference implementation. Due to reasons that cannot be disclosed, we currently don't publish the latest source code but we're planning to as soon as we can.

[2017-08-09 23:40] #69 closed

[2017-08-09 23:40] khdang commented on #75
As noted in the Disclaimer in the README section, the current code in this repo is a reference implementation. Due to reasons that cannot be disclosed, we currently don't publish the latest source code but we're planning to as soon as we can.

(same issue as #69)

[2017-08-09 23:40] #75 closed

[2017-08-09 23:58] khdang commented on #74
The SDK provides the DocumetDB APIs which is a subset of the new Azure CosmosDB APIs. For more details, you can check out this link:  https://docs.microsoft.com/en-us/azure/cosmos-db/documentdb-introduction.

[2017-08-09 23:58] #74 closed

[2017-08-09 23:59] #61 closed

[2017-08-10 00:06] khdang commented on #77
@AnaCampoVe since you're reading database by database name, you can use readDatabase API with the database named link ("dbs/" + databaseName).

If you're still seeing this issue, can you please provide us with the full stack trace? Also, let us know if you're seeing this in a consistent manner at a specific time frame of the application?

[2017-08-10 00:21] khdang commented on #78
@dluc the upsertDocument API takes collection link as the 1st parameter. If you're using namebased link it's in the format of "dbs/$dbName/colls/$collName" (without the '/' at the beginning).

For more samples you can take a look at the unit tests:
https://github.com/Azure/azure-documentdb-java/blob/93cb237f97b1f0c1138278211835ccf8144452bc/test/com/microsoft/azure/documentdb/GatewayTests.java#L760

[2017-08-10 00:26] khdang commented on #76
As of now, we don't have the support for proxy authentication yet. We will look into enabling this scenario.

[2017-08-10 00:33] khdang commented on #79
@ppathan for now the Document.FromObject is not intended for public usage. To instantiate a new Document you can use one of its constructor which takes a JSON string or a JSONObject.

[2017-08-10 01:27] dluc commented on #78
@khdang Thanks. I'd suggest to either improve the input validation or be more flexible and handle these edge cases, e.g. trimming the string where needed.

[2017-08-10 01:27] #78 closed

[2017-08-16 03:28] yungez opened #80 "query collection with collection id failed after re-creation"
sdk version: 1.11.0
java version: 1.8
repro steps:
1. create collection with collectionId : testCollection
2. delete testCollection
3. re-create testCollection, insert some documents
4. query documents with testCollection by DocumentClient.QueryDocuments
- if query collectionLink= "dbs/<databaseId>/colls/testCollection", query failed with resource not found exception
- if query collectionLink=coll

[2017-08-16 21:21] lpevan opened #81 "The input authorization token can't serve the request."
Hello!

I´m trying implement a CosmosDB Writer/Reader, using the microsoft Exemple, But I am Getting this Error:
[code]
When I try Connect in .Net Visual Studio, my Credentials works fine! but using the java SDK it isnt

Could you help me?

here is my class:
[code]

[2017-08-17 04:25] khdang commented on #81
@lpevan for those APIs that take a database link, a collection link, or a document link, it expects the link to start with "dbs" without the "/". Can you remove the leading "/" character and try again?

[2017-08-17 06:40] khdang commented on #81
Feel free to reopen if you still have any issues.

[2017-08-17 06:40] #81 closed

[2017-08-17 06:41] khdang commented on #77
I'm closing this for now. Please feel free to reopen if you're still having any issues.

[2017-08-17 06:41] #77 closed

[2017-08-29 22:44] #79 closed

[2017-09-16 00:53] dluc commented on #70
Looking forward to the TCP mode too, I find the HTTPS protocol too slow for streaming scenarios

[2017-10-26 06:12] qwazer opened #85 "Add support for custom ObjectMapper in DocumentClient"
In azure-documentdb-1.13.0.jar objectMapper is not configurable and created for ***every*** save operation

decompiled code:
[code]

Please fix performance issue and add ability to use custom object mapper

[2017-10-26 20:19] kirankumarkolli commented on #85
+1 Assigned to @moderakh

[2017-11-03 09:14] aqua-regia opened #87 "Azure document db java SDK bulk insert and bulk delete"
1)Given a List of Documents  what is the most efficient way to insert them into Document-DB using Java SDK? Is stored procedure the only way.
I don't want to traverse over each and then use the createDocument method.

2)Given List of String containing  _self links,  how can I delete all the documents that correspond to the _self?

[2017-11-03 10:02] aqua-regia commented on #24
I don't think this is a bug. If your class in which you are deserializing your JSON contains getters and setters for _self and has _self property then this will work.
	@SerializedName("_self")
	@Expose
	private String _self;

 The other way can be that during the update you should set the field (_rid, _self, _etag, _attachments, _ts) before calling the update method.

but the thing is that while i

[2017-11-03 10:12] aqua-regia commented on #56
Maybe you can try to deserialize the JSON into java object implements toString() and which does not have fields for getter/setters and attributes for _ related fields and then just use

(gson.fromJson(exampleJSON, examplePOJO.class))toString()

[2017-11-03 17:10] kozyr commented on #56
But then I'm doing extra serialization back to JSON from that Java object, and also have to create extra classes. Why not add a method on the Document, giveMeBackWhatIStoredWithoutExtraGarbage()?

[2017-11-04 09:23] aqua-regia commented on #56
Yes, that should be there. The thing is there for me this never became a bottleneck. I mostly run a job that does bulk insert and bulk delete and the time taken by them is so much that deserializing to java does not even count in the rate-determining step.

[2017-11-05 22:33] kozyr commented on #56
Sure, for offline processing like that it doesn't matter, but what I want to do is return this data back to the clients in real time, in response to their API calls, and I don't want them to see all these extra stuff, nor use the bandwidth for it (nor write extra objects).

[2017-11-14 01:12] moderakh commented on #85
The fix for not recreating ObjectMapper will be in the next release of java sdk coming out this week.

[2017-11-16 04:11] moderakh commented on #87
1) @aqua-regia the most efficient way is to import using stored proc assuming the documents have the same partition key.
2) You can traverse over the list of documents and deleting one by one.

[2017-11-16 04:13] #87 closed

[2017-11-16 04:19] moderakh commented on #85
@qwazer please check 1.15.0 release which has the fix.

[2017-11-16 04:19] #85 closed

[2017-11-16 08:30] qwazer commented on #85
there is no support for custom object mapper in 1.15.0

[2017-11-16 08:30] qwazer commented on #85
please reopen

[2017-11-16 15:44] nicolehaugen79 opened #90 "Document DB library needs to use Shade plugin to prevent class path versioning issues"
Currently the Document DB library doesn't use the Maven Shade plugin.  This plugin needs to be used to ensure that all dependencies are repackaged in a custom Microsoft namespace.  This will help to ensure that usage of the Document DB library doesn't cause class path conflict issues (e.g. 'class path hell') where this SDK is used in combination with other libraries using similar, but different ve

[2017-11-16 17:54] kirankumarkolli commented on #90
@moderakh will address this in our next release.

[2017-11-16 21:29] moderakh commented on #85
@qwazer Please check the constructor of DocumentClient. The main purpose of the fix was to fix the performance issue. But there is a new constructor through which you can pass the custom ObjectMapper.

[2017-11-16 23:17] moderakh commented on #85
@qwazer as mentioned there is a new constructor for passing custom mapper. If you find problem with custom serialization feel free to open a new issue.

[2017-11-17 06:25] qwazer commented on #85
ok thanks
I missed new Constructor in decompiled code

[2017-11-22 10:35] zhang-hua opened #91 "NullPointerException when calling readDatabase"
[code]

[2017-11-22 10:49] zhang-hua opened #92 "DocumentClient should not log serviceEndpoint with credential information"
[code]

[2017-11-23 16:36] amrfarid140 opened #93 "Invalid API version. Ensure a valid x-ms-version header value is passed. Why is that happening ?"
I am using this API to execute the following:
` client.executeStoredProcedure("/dbs/$database/colls/$collecitonName/sprocs/bulkAdd",arrayOf(Gson().toJson(accounts)))`

In all the samples, setting the x-ms-version manually is not required. In addition, on the NodeJS API, the same thing is not required. How can I bypass this issue?

[2017-11-23 17:03] #93 closed

[2017-11-27 09:34] zhang-hua commented on #91
This issue can be fixed by adding some retry logic in getDatabaseAccountFromEndpoint() method of  `com/microsoft/azure/documentdb/DocumentClient.java` :

[code]

[2017-11-27 19:17] moderakh commented on #91
@srinathnarayanan can you please take a look at this one?

[2017-11-28 23:39] moderakh commented on #92
@zhang-hua could you please be more elaborate. Only masterKey is credential, which is not logged. Service endpoint does not contain credential information.

[2017-11-29 03:12] zhang-hua commented on #92
@moderakh , I found the DocumentClient can accept service endpoint like below:
[code]
It is a legal URI with `AccountKey` which is appended at the end of actual endpoint string and can be used in DocumentClient constructor. Client code should not pass this kind of connection string to create DocumentClient instance. It might be safer to filter it before logging this info. Don't know if this will l

[2017-11-30 01:18] moderakh commented on #92
@zhang-hua I am trying to understand what the concern is.

The DocumentClient constructor has two different arguments for serviceEndpoint and masterKey, and these parameters should be passed as such.

https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.documentdb._document_client.documentclient#com_microsoft_azure_documentdb__document_client_DocumentClient_String_String_ConnectionPolicy_

[2017-11-30 02:32] zhang-hua commented on #92
@moderakh , agree with you. This is one of the bug we just found in our code when parsing the connection string. The account key is not correctly filtered and passed to DocumentClient by mistake. But it might be safer to check if account key is passed in DocumentClient as endpoint since it did not raise any exception or warning for developer when they misused this constructor. The credential will

[2017-12-04 14:17] Souvik04 opened #94 "PoolingClientConnectionManager not working in Android studio"
Hi,

I am trying to connect to Azure Cosmos DB through my Android application. I have followed the quick start link for Java in Azure portal and this link- https://docs.microsoft.com/en-us/azure/cosmos-db/documentdb-java-application.

When I try to create the `DocumentClient` it fails.

`DocumentClient documentClient = new DocumentClient(HOST, MASTER_KEY, ConnectionPolicy.GetDefault(), Consistency

[2017-12-05 18:10] moderakh commented on #94
@Souvik04 please give us the stacktrace. What fails?

[2017-12-06 01:22] Souvik04 commented on #94
@moderakh Here is the stack trace from Android studio-

` --------- beginning of crash
12-06 06:50:33.096 3521-3521/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                 Process: is.lagerinn.teztrating, PID: 3521
                                                 java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/impl/conn/PoolingClientConnect

[2017-12-06 19:16] #92 closed

[2017-12-06 19:21] moderakh commented on #94
@Souvik04 you are getting this error due to a dependency conflict on apache http client.

You need to make sure you have the following jars in your class path:
org.apache.httpcomponents » httpcore:4.4.6
org.apache.httpcomponents » httpclient:4.5.2

Also you need to make sure you are not bringing older version of these libraries.

[2017-12-19 21:36] srinathnarayanan commented on #91
Hi @zhang-hua I couldn't repro this issue. Are you still running into it? Is this is directMode or gateway?

[2017-12-20 02:17] zhang-hua commented on #91
@srinathnarayanan , This only happened just after the DocumentDB account is deployed in a few minutes. I also tried to switch between direct and gateway mode but it doesn't work.  Before NullPointerException thrown, there is an `UnknownHostException` which indicated the route to DocumentDB service is not reachable for a while at the beginning. The DocumentDB client of Java SDK doesn't have any ret

[2017-12-20 16:13] vkumarsharma commented on #91
This is issue is hurting us for a long time now on our production server.
This issue is very frequent on our production server. Even when we put the DNS address of the cosmosdb end point in out etc/hosts in our VM.

All our production environment is on Azure and we have logged multiple tickets with microsoft but they haven't been able to help. And then I find this thread. Please help with this. I

[2017-12-20 20:40] moderakh commented on #94
closing this as this is due to not bringing in the right dependencies. If you face issues feel free to create a new issue.

[2017-12-20 20:40] #94 closed

[2017-12-22 19:50] srinathnarayanan commented on #91
@zhang-hua  @vkumarsharma  which OS are you using when you run into this issue?

[2017-12-23 06:45] zhang-hua commented on #91
@srinathnarayanan, this issue occurs in a Linux container.

[2017-12-23 09:21] vkumarsharma commented on #91
For us it is Ubuntu VM with tomcat8, no container

[2018-01-17 05:43] zhang-hua commented on #91
hey, @srinathnarayanan, do you need any more info for this issue or have any update on this? Thanks!

[2018-01-26 02:14] srinathnarayanan commented on #91
Hi @zhang-hua we are actively working on this and will add the retries to our next release. Thanks!

[2018-01-26 06:41] zhang-hua commented on #91
@srinathnarayanan , very appreciated! :-)

[2018-01-31 22:01] kirankumarkolli commented on #91
@zhang-hua just to confirm after ARM confirmed that cosmos account is created is when you getting this error on that account right? Could you please share the time when this happened, account. Ideally post account creation this failure should not happen.

[2018-02-01 16:23] dcremonini opened #98 "Parameter names in DocumentClient class are wrong"
Two names of input parameters of methods contained in the `DocumentClient` class are misleading.

**Example**
If the code calls the method
`public FeedResponse<Permission> readPermissions(String permissionLink, FeedOptions options)`
using
`readPermissions("/dbs/exampleDB/users/johndoe/permissions", options);`
the resulting call made to the back-end server is
"/dbs/exampleDB/users/johndoe/permissio

[2018-02-04 02:20] zhang-hua commented on #91
@kirankumarkolli , correct. Once the cosmos account and Kubernetes cluster have been created by ARM template in a few minutes, a Kubernetes template will be deployed on the cluster and spin up service to create a new database. The `NullPointerException` happened just after account creation for a couple of seconds caused by `UnknownHostException` which indicates the underline network route infrastr

[2018-02-05 09:30] kinfkong opened #99 "paging is not working"
In my case, there are 4 documents in the collection.
When I set the page size to 1 (expecting to fetch only 1 result), but the sdk always returns all the documents in the collection.
code pieces:
[code]
After digging into it, I found that it will send 4 api requests (each fetch 1 result) for all the pages.
please see the requests I captured:
![snip20180205_8](https://user-images.githubusercontent.

[2018-02-09 19:05] srinathnarayanan commented on #99
Hi @kinfkong this is the expected paging behavior. When you call it.next(), it makes the next API call to get the next document (since your page size is only 1). What is your scenario/ use case and what is the behavior you expect?

[2018-02-09 19:06] srinathnarayanan commented on #98
@dcremonini Thanks for pointing this out. We will fix our documentation in the next release.

[2018-02-10 04:20] kinfkong commented on #99
@srinathnarayanan thanks for your reply.
I read the sample, it.next() should be read the documents in that page, not calling the next API?
If the it.next() is calling the next API, then how to iterate the documents of the current fetched page?
Thanks.

[2018-02-12 19:09] srinathnarayanan commented on #99
@kinfkong it.next() makes an API call to fetch the next page only after all the documents in the current page have been iterated over. Since you set page size to 1, each it.next() will have to make a new API call to fetch a new page (of size 1). If you have 8 documents and set page size to 2, there will be a total of 4 API calls when you keep iterating with it.next()

[2018-02-20 23:15] ppathan commented on #91
@srinathnarayanan @kirankumarkolli Hey guys any update on this? When is your next release?

[2018-02-28 22:33] srinathnarayanan commented on #99
I am closing this as the initial query has been addressed. Please feel free to reopen it if you have any followup. Thanks!

[2018-02-28 22:33] #99 closed

[2018-03-01 06:56] brunoborges opened #100 "Rename Project to CosmosDB SQL"
Hi team,

Azure DocumentDB is now Azure CosmosDB SQL. Are there plans to rename this project accordingly?

https://azure.microsoft.com/en-us/blog/dear-documentdb-customers-welcome-to-azure-cosmos-db/

[2018-03-06 22:33] moderakh commented on #100
@brunoborges thanks for the comment.

We have a cosmos db java SDK. Please check it here:
https://github.com/Azure/azure-cosmosdb-java

[2018-03-06 22:33] #100 closed

[2018-03-15 08:54] sophiaso opened #101 "Cannot set a Date typed value to property for Document"
Not sure whether this is a bug or it's a must follow rule to use the Document.

SDK version: `1.15.2`

Suppose a POJO class with Date typed field:
[code]

Create a Document and configure the property value.
[code]

Exception trace:
[code]

[2018-03-23 19:47] owennewo opened #102 "Continuation and requestCharge missing with options.setEnableCrossPartitionQuery(true);"
I'm trying to use continuations against a partitioned cosomosdb.

I've noticed that queries that hit multiple partitions will fail with

In these cases its possible to use options.setEnableCrossPartitionQuery(true) and the query returns.

However for cross partition queries I see that feedResponse.getResponseContinuation() returns null and feedResponse.getRequestCharge() is 0.0.

It's then not pos

[2018-04-03 04:12] rgong1987 opened #103 "JsonSerializable doesn't support Enum"
Consider an Enum like

`Enum Weekday {
MONDAY, TUESDAY, WEDNESDAY ...
}`

`new JSONObject(this.getMapper().writeValueAsString(value))` will throw JSONException. I know it is a generic exception when instantiate a JSONObject like new JSONObject("WEDNESDAY"), but maybe worthwhile put into consideration how to handle this situation?

Thanks,
Robbie

[2018-04-06 11:35] alfanse opened #104 "Remove final from DTO's to support Unit Testing"
As a dev,
I want to write unit tests that mock the documentClient
so that I can unit test the behaviour of my classes.

Currently this is very hard thanks to the final classes returned by the documentClient.
i.e.

`
import com.microsoft.azure.documentdb.*;
import static org.assertj.core.api.Java6Assertions.assertThat;
import static org.mockito.Matchers.*;
import static org.mockito.Mockito.*;

priv

[2018-04-06 11:51] alfanse commented on #80
as a tester, I do this a-lot on the integration environments.
I've noticed its faster to drop collections and recreate than delete the 1000+ records individually.
With query failing to read once a collection has been dropped and recreated I find this very frustrating.

We have coded around this with:
[code]
But find this very unsatisfactory...

Watching this thread with interest.

[2018-04-08 11:27] pchrzasz opened #105 "Bulk insert limit"
Hello,

II would like to ask you about bulk insert limits in CosmosDB. I have noticed that I can only do 800 rows in a bulk insert (capacity set to 10000RU). Over this limit e.g. 1000 rows there are errors:

`Apr 08, 2018 12:04:37 PM com.google.common.util.concurrent.AggregateFuture$RunningState handleException
SEVERE: Got more than one input Future failure. Logging failures after the first
java.l

[2018-04-09 04:07] tknandu commented on #105
@pchrzasz We have moved the bulk import functionality into an extension library [here](https://github.com/Azure/azure-cosmosdb-bulkexecutor-java-getting-started)

[2018-04-09 04:07] #105 closed

[2018-04-23 17:55] moderakh commented on #103
@rgong1987 you can pass your custom ObjectMapper to DocumentClient. That should help in serializating your own types.

[2018-04-23 17:56] moderakh commented on #101
@sophiaso you can pass your custom ObjectMapper to DocumentClient. That should help in serializing your own types.

[2018-04-23 17:57] moderakh commented on #102
@owennewo for cross partition query currently continuation token is not supported in the SDK. we will improve this.

[2018-04-25 07:30] ytaous opened #106 "Large sql query crash on partitioned collection"
For example:
SELECT c.id, c.keywords FROM UserData c WHERE c.id IN (key1, ke2, …., key800)
where the id is the partitioned key when I created the collection with "unlimited" storage capacity
Using documentClient to query the table, it crashes with EXCEPTION_ACCESS_VIOLATION.
Same code works fine if I query a collection that was created with "10GB" limit without any partition.
Here is the exaceptio

[2018-04-25 17:42] moderakh commented on #106
@ytaous Thanks for reporting the issue. Could you please let us know which version of SDK you are using?

[2018-04-25 18:07] moderakh commented on #104
@alfanse thanks for reporting this. We are planning to drop the final keyword from some of the surface classes to make them unit testable.

[2018-04-25 20:11] ytaous commented on #106
v. 1.16.0 , it's pretty easy to reproduce using your sample test code - simpleDocumentQuery. Change that to compose IN clause with 400 keys, and do the query against any partitioned collection. The collection could be empty. Then you can compare the same against non-partitioned collection.

[2018-04-25 20:16] ytaous commented on #106
BTY, we also perform C# test with the same logic, it works fine.

[2018-05-02 09:57] ialexandrov opened #107 "Error "Date header doesn't conform to the required format" connecting through the proxy"
Attempt to connect from behind the corporate proxy fails.
Using connection policy:
`
ConnectionPolicy policy =  ConnectionPolicy.GetDefault();
policy.setConnectionMode(ConnectionMode.Gateway);
policy.setProxy(new HttpHost(...));
`
Leads to the following error when querying the DB:

com.microsoft.azure.documentdb.DocumentClientException: Message: {"Errors":["Date header doesn't conform to the requi

[2018-05-02 19:34] prashanthmadi opened #108 "SDK github url"
Is this SDK or just samples ?

Below link says this repo as SDK but i just see only samples/benchmarking here...
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java

Can you list SDK url in readme and also set it as homepage in mvn repo too
https://mvnrepository.com/artifact/com.microsoft.azure/azure-documentdb/1.16.0

[2018-05-04 01:03] srinathnarayanan commented on #98
The latest version has the correctly named parameters.

[2018-05-04 01:03] #98 closed

[2018-05-04 13:25] shinigamiryuk opened #111 "Java SDK source code"
Not an issue exactly, but I couldn't find out the Java SDK sources. Anyway, my query is do the client retries take place asynchronously.

[2018-05-07 10:02] mkozioro opened #112 "NullPointerException on readDocument()"
SDK Version: 1.16.0

`
java.lang.NullPointerException: null
        at com.microsoft.azure.documentdb.internal.SessionContainer.compareAndSetToken(SessionContainer.java:194)
        at com.microsoft.azure.documentdb.internal.SessionContainer.setSessionToken(SessionContainer.java:167)
        at com.microsoft.azure.documentdb.internal.SessionContainer.setSessionToken(SessionContainer.java:156)

[2018-05-08 21:51] srinathnarayanan commented on #111
The retries are performed after a sleep, similar to the python SDK

[2018-05-08 22:39] srinathnarayanan commented on #112
Hi @mkozioro how often are you seeing this? Which version of the SDK are you using?

[2018-05-17 02:31] brunoborges opened #113 "Need proper description in GitHub repository"
Please set a proper GitHub repository description for this project, to differentiate against the new SDK (async) version.

[2018-05-17 02:31] brunoborges opened #114 "Publish source code"
Please publish the source code of the SDK

[2018-06-04 10:05] dixitprashant444 opened #115 "Getting error "Date header doesn't conform to the required format...""
I tried using following SDK:
http://search.maven.org/#artifactdetails|com.microsoft.azure|azure-documentdb|1.16.1|jar
However, while reading/writing a record, I get following exception:

Caused by: com.microsoft.azure.documentdb.DocumentClientException: Message: {"Errors":["Date header doesn't conform to the required format. Please ensure that the time is provided in GMT and conforms to RFC 1123 d

[2018-06-07 17:11] moderakh commented on #115
working with @dixitprashant444 offline. @dixitprashant444 as discussed in the email offline please send the simple project reproducing this.

[2018-06-07 17:12] moderakh commented on #114
we only plan to publish the source code of the new async sdk:
https://github.com/Azure/azure-documentdb-java

This one just contains the examples and is for reference.

[2018-06-07 17:12] #114 closed

[2018-06-07 17:16] moderakh commented on #113
Thanks @brunoborges added proper description.

[2018-06-07 17:16] #113 closed

[2018-06-07 17:18] moderakh commented on #107
don't you get the "Date header doesn't conform to the required format. " error when you don't use proxy?

[2018-06-08 06:40] dixitprashant444 commented on #115
I created a sample spring boot application which is quite similar to our actual application.
However, I could not reproduce the issue as it works fine.
Not sure if any other Spring library conflicts & causes this issue. I am trying to find it out.

[2018-06-11 22:13] prashanthmadi commented on #108
Thanks @moderakh .. whats the sync sdk url ?

[2018-06-11 22:28] moderakh commented on #108
at this point only source for async sdk is available. the source for sync sdk is not available.
As you yourself pointed out this repo only has example/benchmarking tool.

[2018-06-15 08:02] dixitprashant444 commented on #115
I was able to reproduce this issue.
Till version 1.15.2 of document db SDK, current date-time in GMT format (requited for x-ms-date header in DocumentClient.class of SDK) was calculated using SimpleDateFormat class of Java. However, with version 1.16.1 of document db SDK, they have started using joda-time:2.9.9 to calculate current date-time in GMT format.
If any client application, which is using

[2018-06-15 08:02] #115 closed

[2018-06-24 04:02] #108 closed

[2018-06-26 02:41] sophiaso commented on #101
Hi @moderakh, thanks for providing customizable ObjectMapper, but I still do not think the `JsonSerializable` in `1.16.1` is able to set values  for `Date` and `Enum`, and many others may exist same issue too. Could you help?

[code]

`this.propertyBag.put(propertyName, new JSONObject(this.getMapper().writeValueAsString(value)));`
For a `Date` typed value,  even though the customized mapper will b

[2018-07-25 18:03] fr3dgu1s opened #116 "Receiving erro r'Request size is too large' when querying Cosmos DB."
While running a query against my database and getting a 'Request size is too large' while iterating through the results:

The query is 'select c.id, c.snippet.channelId from c where (c.kind = 'youtube#channel' or c.kind = 'youtube#video') and c.statistics.commentCount > 0'

Stack Trace:

java.util.concurrent.ExecutionException: java.lang.IllegalStateException: com.microsoft.azure.documentdb.Docume

[2018-07-27 20:38] ytaous opened #117 "bulk import throws BulkImportStoredProcedureResponse exception"
Hi, when we use the importer (v.1.16.0), it always throws the exception. I noticed there's change log has that option to disable the exception. Is it accidental removed? Can we add it back?

## Changes in 1.9.4 : ##
- Set FAIL_ON_UNKNOWN_PROPERTIES = false so users don't need to define JsonIgnoreProperties in their POJO.

com.microsoft.azure.documentdb.bulkexecutor.bulkimport.BulkImportStoredProce

[2018-07-27 21:23] ytaous commented on #117
bulk executor has the missing field, so I am closing it

[2018-07-27 21:23] #117 closed

[2018-08-15 17:54] srinathnarayanan commented on #116
Hi @fr3dgu1s, this issue is because the continuation token size sent in the header is too large. You can limit this by setting the 'responseContinuationTokenLimitInKb' in your feedOptions. (i.e. feedOptions.setResponseContinuationTokenLimitInKb() ). The maximum header size is 16 Kb, so your choice for responseContinuationTokenLimitInKb should be within that.

Documentation link : https://docs.micr

[2018-08-17 10:36] sophiaso commented on #102
@moderakh  Does this limitation still exist for the latest version `1.16.2`?

[2018-08-20 02:56] Incarnation-p-lee opened #118 "Query same collection after delete will fail with `he requested resource is no longer available at the server.`"
When create the database with collection somewhat like /dbs/testdb/colls/testcolls, it will throw following exception of resource unavailable from SDK side.

Consider the pseudo code in below
1. create database and collection, then insert and query.
2. delete the collection
3. create the collection with the same name
4. insert and query.

[code]

[code]

[2018-08-20 07:46] sophiaso opened #119 "Non null ContinuationToken json but null token value"
When querying with pagination for partitioned collection, for the last page, the pagination json token is not null, but the token field is null. e.g.,

[code]

Does above token indicate it's already the last page? Though in my case, it's actually the last page, besides the whole json itself is not null.

Similar issue here:
https://stackoverflow.com/a/51868733

The explanation was:
_"As for why th

[2018-08-27 23:28] Ram9293 commented on #90
@nicolehaugen79 Hi Nicole, I am having the same issue when using this library with apache storm, I tried a lot and nothing is working out, could you please help me with a work around?

at org.apache.http.impl.conn.ManagedHttpClientConnectionFactory.<clinit>(ManagedHttpClientConnectionFactory.java:62) ~[httpclient-4.5.1.jar:4.5.1]
	at org.apache.http.impl.conn.PoolingHttpClientConnectionManager$Int

[2018-09-05 20:43] avneet15 opened #120 "Cross partition pagination support"
I've come across some patterns for getting paginated results from a single partition but is it possible to use the `continuationToken` pattern to paginate a query which spans across partitions ?

Tried paginating using pattern here:
https://guptakumartanuj.wordpress.com/2017/12/13/pagination-support-in-documentdb-using-java-sdk-api/

But the continuationToken returned null as expected, when queryi

[2018-09-06 22:07] ausfeldt commented on #119
@sophiaso A null token is the last page for a given partition range. If it is the last page of data on the last partition then the whole json itself will be null.

[2018-09-13 01:45] ausfeldt commented on #120
@avneet15 Try using FeedResponse.getQueryIterator() which will handle pagination on hasNext, assuming you set MaxItemCount in the FeedOptions.

[2018-09-17 09:58] marmyr opened #121 "Error inserting document with a partition key of >100 bytes"
Seems I created this issue on the wrong repository.
(And ironically, it was reproduced and fixed there)

See issue 56 at azure-cosmosdb-java: https://github.com/Azure/azure-cosmosdb-java/issues/56
This issue exists on azure-documentdb-java as well.

[2018-09-17 19:04] ealsur commented on #121
Thanks @marmyr for your report. Java has two separate SDKs (Sync and Async), it seems the original report was for the Async SDK which was fixed. These 2 SDKs don't share the code base so that fix was not automatically picked in the Sync SDK.

The team is investigating and working on the fix for this scenario on the Sync SDK.

[2018-09-19 07:22] dixitprashant444 opened #122 "ignore model property while saving record in documentdb"
I have a class:
public class Job
{
     private String id;
     private String type;
     private boolean history;
}
I want to ignore "history" property while saving the record in collection.
I tried @JsonIgnore but this does not work. I can see "history": false in saved record inside document db.
I do not want "history" attribute inside my saved record/document.
We have @DynamoDBIgnore for Amazon

[2018-09-20 10:06] ealsur commented on #122
@dixitprashant444 We have tested this scenario and found that JsonIgnore does work. Do you have any repro code that you can share with us?

[2018-09-20 12:01] dixitprashant444 commented on #122
@ealsur Lombok annotation was preventing JsonIgnore to work properly. See this https://github.com/FasterXML/jackson-databind/issues/1226
When I removed lombok annotations from my model class & wrote getters, setters & constructors then JsonIgnore started working.
Thanks for quick reply & confirmation that this was not an issue from your end.

[2018-09-20 12:01] #122 closed

[2018-09-26 15:35] nickjadams opened #123 "Is it possible to manually implement paging"
I have a disconnect between cosmos db and my end application. As such I would like to manually implement the paging; so I can return items to by client application, then wait for more to be requested from that application before returning the next set of documents.

[2018-10-11 09:28] murggu commented on #70
Any plans to support the TCP mode in the next release?

[2018-10-15 16:52] doronrosenberg opened #124 "Expose the response string in ResourceResponse"
Hi,

Currently there is no way to get the original response string for a `ResourceResponse` - there is only access to the already parsed JSON property bag.

I need to convert the response to custom class (protobuff in my case) and having to serialize using toString() is a waste since the SDK already has access to the JSON string.

It would be great if the SDK could expose this since `DocumentServi

[2018-10-16 23:38] christopheranderson commented on #124
Good suggestion. We're planning on doing this in the next version of the SDK by offering stream support.

[2018-10-17 05:04] doronrosenberg commented on #124
Great to hear!  Is the serialization into the JSON object property bag lazy currently or is it automatically serialized?

[2018-11-12 12:10] bankuruprasannakumar opened #125 "Pagination is broken when using ORDER BY"
We are using azure-documentdb java sdk(1.16.2) for accessing cosmos db resource.

When using java sdk to access cosmos db - Pagination is working fine for all the queries except when query contains ORDER BY.

method used in sdk to get response continuation token: *feedResponse.getResponseContinuation()*

OrderByQueryExecutionComponent.getResponseHeaders() function always return null incase of quer

[2018-11-23 15:34] bobcx2 commented on #102
Hi @moderakh, Are there any plans to support continuation tokens for cross partition queries in the SDK?

[2019-01-09 00:29] marc-sensenich opened #126 "When using Resource Tokens java.util.concurrent.ExecutionExceptions being logged"
When using version `v2.2.1` `java.util.concurrent.ExecutionException: java.lang.NullPointerException` are being logged when calling `documentClient.createDocument()`as an example call when a `DocumentClient` is granted authrorization using resource tokens with the `All` permission mode given for a collection. After debugging, it seems that these exceptions are due to the method `getAuthorizationTo

[2019-01-11 18:18] simplynaveen20 commented on #126
This is the issue in sync java SDK  , we would recommend to use async java SDK where this thing is working fine without exception , and also which is more robust and up to date.

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-async-java

 And if that is not an option  could we please use collection self link in the permission json and also while creating document like below

private

[2019-01-11 19:19] marc-sensenich commented on #126
Thank you for the update @simplynaveen20. We tried the Async client yesterday and encountered the following issue https://github.com/Azure/azure-cosmosdb-java/issues/78 unrelated to this one

[2019-01-11 21:21] simplynaveen20 commented on #126
Thank you Marc.
Lets follow up on Azure/azure-cosmosdb-java#78 , I put some comment over there

[2019-01-18 07:38] marmyr commented on #121
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java#a-name210210
* Fixed a bug to ensure large PartitionKey is allowed

Does this refer to this issue perhaps?

[2019-01-22 17:23] vamsikt opened #127 "Bulk import Unique index constraint violation error"
Hello,
When using bulk importer library to import documents into cosmos DB collection with unique index constraint rule and I tried to import a few documents (along with some duplicate documents which already exists in the collection), then whole bulk import operation fails and throwing an error, fails to insert the non duplicated documents.
Is there any way to suppress this expected errors and do

[2019-01-23 04:50] Ramji-S opened #128 "DocumentClientException in getCause() in case of exception - Sync Vs Async behavior"
In case of an Exception, when using the Cosmos DB "Async" API, we could simply catch the generic one and simply do an e.getCause() to see if the instance was of type DocumentClientException. However, when using the DocumentDB Sync, the chain seems to be lengthier. Is this expected ?
Ofcourse, we could use something like Apache common langs 'ExceptionUtils' to check the "Cause", but is this behavio

[2019-01-26 10:29] dyzwang opened #129 "ConnectionMode.DirectHttps mode doesn't enforce RequestOptions' AccessCondition"
I'm using the latest SDK 2.1.1. It seems that if I set `ConnectionPolicy`'s connection mode to be `DirectHttps`, `RequestOptions`' `AccessCondition` (type: `IfMatch`) will no longer be enforced. Request with non matching `AccessCondition` would succeed. My expectation is that such request would get a 412 with _{"Errors":["One of the specified pre-condition is not met"]}_ just like the `Gateway` co

[2019-01-29 22:03] srinathnarayanan commented on #129
Hi @dyzwang , Can you please add a repro here or raise a ticket with askcosmosdb@microsoft.com ?
I checked the behavior locally, and it looks to be working correctly.

[2019-01-30 10:21] Ramji-S commented on #128
Team - Any updates or response to this please ?

[2019-01-30 13:17] Ramji-S commented on #128
Update : The above behavior is specific to usage of "Emulator". When testing locally using emulator, the Exception (say Resource Not Found), is "IllegalStateException" and the root cause "DocumentClientException" is 3 levels down the original exception. However, when connected using a real Cosmos DB account, the exception thrown is already "DocumentClientException". This raises major concerns with

[2019-02-08 17:11] gmousset commented on #102
Hello @moderakh, could you announced a date for cross partition continuation token support ?
Paging is an essential feature for a database and I can't believe a microsoft product miss it...
Does the async lib azure-cosmosdb-java support it ?
Please could you provide a workaround ?

Thank you.

[2019-02-12 08:06] pier7529 opened #130 "Method String.join new in java8 (not in java7)"
We try to implement version 2.1.0 of sdk. It's not possible with Java 7 in opposition with you documentation **Minimum Requirements : Java Development Kit 7**.

There are in source code specific instructions from Java 8, see command lines in the class LocationCache.java :
logger.trace("Current writeEndpoints = ({}) readEndpoints = ({})",
        **String.join**(", ", nextLocationInfo.writeEndpoint

[2019-02-22 16:33] pier7529 commented on #130
There is another similar issue in version 2.1.0,
VectorSessionToken class contains also the string.join() function.

[2019-03-01 16:15] abaeteman commented on #106
Hey there !

We have a similar error (ACCESS_VIOLATION) running a large query with the latest version (2.1.1).
Note that the error is not reproduced if we use the async connector (https://github.com/Azure/azure-cosmosdb-java) with the same request.

Any updates on this problem ?

[2019-04-18 20:05] sheekaat opened #131 "PopulateQueryMetrics in FeedOptions"
Trying to see the usage of Indexes utilization percentage and observed that this parameter is in .NET SDK API. But, not in the Java SDK API.

[2019-04-19 17:43] ealsur commented on #131
PopulateQueryMetrics is available in the 2.4.X version of [Java Async SDK](https://github.com/Azure/azure-cosmosdb-java). For the Sync SDK, it's targeted for 3.0 release.

[2019-04-19 17:43] #131 closed

[2019-05-13 11:23] shubhamsxn65 opened #132 "How to mock ResourceResponse<Document>"
There are no constructors provided for mocking ResourceResponse purpose? Is this a feature planned? **Are there any alternatives as of now**?

On running the below code.

[code]

I am getting this exception:

[code]

[2019-06-16 09:32] progvasu opened #133 ""distinct" gives syntax error"
A simple "select distinct rp.userid from profile rp" works in the Azure Query Browser but fails when using documentClient.queryDocuments with the below error

![image](https://user-images.githubusercontent.com/9596649/59562205-66021100-9047-11e9-9e1a-0171fb2f70ca.png)

Is the support for DISTINCT not yet available, because the [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to

[2019-08-09 22:20] sergeig-stcu commented on #126
I've got a similar issue:

[code]

I use a read only resource token with code like this:

[code]

[2019-08-15 22:22] Blackbaud-RajRaulji commented on #68
Is there any new information this?

[2019-08-16 00:11] itszakko commented on #68
This was an issue with my specific documentdb instance. I resolved it with Azure Support.

[2019-08-16 00:11] #68 closed

[2019-08-29 07:56] badeball opened #134 "Source code for recent versions"
It seems that the source code for `com.microsoft.azure.azure-documentdb` used to be available, specifically for [1.8.0](https://github.com/Azure/azure-documentdb-java/tree/1.8.0) and earlier. Recently however, 2.4.1 has been [released](https://mvnrepository.com/artifact/com.microsoft.azure/azure-documentdb), but the source doesn't seem to  be here. Am I just looking at the wrong place or did you s

[2019-10-26 05:01] jamesdbloom opened #135 "Lack of Thread Safety causing ArrayIndexOutOfBoundsException in ArrayList in StoreReader"
0.002% of our calls to load operations result in the following error, which means we get around 5 errors per hour.  This looks like it is caused by a lack of thread safety around the way an ArrayList is used such that the underlying array inside the ArrayList is size zero but an item is being added at index 1.  If you assume the ArrayList does not have a bug (which is likely due to how widely it i

[2019-11-22 00:13] please1984 commented on #125
I am in the same situation.
But when I run sql with partition key, I get normal pagination data.

How to read pagination data in sql without partition key?

[2019-12-23 19:03] Akash08091992 opened #136 "How to set idleConnectionTimeout to indefinite in connection policy."
Hi

I am seeing that the default to idleConnectionTimeout in ConnectionPolicy class is set to 60 seconds, but even after this interval i am able to interact with cosmos db . What does it depend on then? How can i set this value to indefinite just to be sure, i require an always established connection.

I am using DirectHttps as the connection mode.

[2020-02-05 18:57] karlos-oliveira commented on #56
we are on 2020 and nobody solved this?

[2020-02-29 00:56] st0ve commented on #107
Did you ever find a solution to this issue? I'm running into the exact same issue

[2020-04-26 20:03] Ankzz opened #137 "Need help : Client creation fails with Json Exception"
Tried with two versions of 'azure-documentdb' library : 2.4.7 and 2.3.0 . Same error.

When I am trying to create a client object of type DocumentClient , I receive following error:
Code used is as simple as:

`		docClient =
				new DocumentClient("https://xxx.mongo.cosmos.azure.com:443/",
						"<primary-key>",
						null /* Providing a policy also did made no difference */
, ConsistencyLevel.Ses

[2020-05-13 11:12] ajay74984 commented on #56
any update on it?

[2020-06-18 17:04] anfeldma-ms opened #138 "🎉🎉 V4 SDK is GA and in a different repo"
The Java Azure Cosmos DB library has a new V4 version out. It has a new Group Id on Maven as well:

https://mvnrepository.com/artifact/com.azure/azure-cosmos

The code is open source here: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos

Any issues with V4 should go to the new repo. All feature requests should also be opened in V4. We'll be cleaning up this repo so

[2020-06-26 13:07] ssivaji-w commented on #118
What's the solution identified for this issue?

[2020-10-20 07:06] dapartsa opened #139 "Unable to achieve pagination"
Hello Team,

I am trying pagination using the documentDb client in java, but unable to achieve the desired results.

Please help me in this regard

Best
Sree

[2020-10-27 00:26] mbhaskar commented on #139
Looking at the comment in this repo, it appears you are using V2 SDK. If possible it is recommended upgrade to V4 SDK which has various performance improvements over V2. Here is the documentation with migration guide and a quick start.
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-v4

[2020-12-18 03:34] #127 closed

[2021-03-04 16:00] #126 closed

[2021-08-10 17:30] bluebambu commented on #76
Has anything been done with this issue? I'm working with azure-documentdb 2.5.1. My application is behind corporate proxy. I can set the proxy host:port on a ConnectionPolicy passed to DocumentClient but I haven't found a way to pass the credentials.

[2021-08-20 06:32] caliburn1994 opened #141 "documentdb.upsertDocument how to keep order?"
The parameter `document` is as follows :

[code]

After upsert, the order of data `features` in cosmos DB  is not as same as below. How can I resolve this problem?

[2021-08-20 06:47] #141 closed

[2021-10-01 04:49] aadityatiwari opened #142 "GatewayProxy Socket Timeout exception"
_Artifact details:_
[code]

_Behaviour:_
First attempt almost always fails with socket timeout, post retry things seems to be working fine

_Stacktrace:_

errorCode: DOC_FETCH_FAILED, message: java.net.SocketTimeoutException: Read timed out - com.microsoft.azure.documentdb.DocumentClientException: java.net.SocketTimeoutException: Read timed out
	at com.microsoft.azure.documentdb.internal.GatewayPr